.title{
    font-size: 48px;
    border-bottom: 1px solid white;
}
.p6{
    padding-top: 40px;
}
.font{
    font-family: 'IBM Plex Mono';
}
.trans{
    background-color: transparent !important;
}
.quote{
    font-size: 21px;
}
.bold{
    font-weight: bold;
    font-size: 18px;
}
.none{
    border: 1px solid white;
    border-style: dashed;
}